<table class="table table-striped table-bordered table-hover" id="friends">
  <thead>
    <th>
      First name
    </th>
    <th>
      Last name
    </th>
    <th>
      Email
    </th>
    <th>
      Phone
    </th>
    <th>
      Twitter
    </th>
    <th colspan="3"></th>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <%= render friend %>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
